/* COMPONENT STYLES */
/* NavBar Styles */
.navbar {
  display: flex;
  position: fixed;
  background: var(--theme-light-color);
  color: var(--theme-bold-text-color);
  height: 64px;
  width: 100vw;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .08);
}

.navbar__left {
  display: flex;
  flex-grow: 5;
  height: 100%;
  padding: 8px 16px;
  align-items: center;
}

.navbar__right {
  display: flex;
  flex-grow: 5;
  height: 100%;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-end;
}

.navbar__link {
  margin: 0 10px;
  font-size: 1.1em;
  color: var(--theme-text-color);
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease;
}

.navbar__link:hover {
  color: var(--theme-bold-text-color);
}

.navbar__link.selected {
  color: var(--theme-bold-text-color);
  font-weight: 700;
}

.navbar__link.selected::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 20px;
  align-self: center;
  width: 48px;
  height: 2px;
  background: var(--theme-secondary-color);
}

/* WritingCard Styles */
.writingcard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 124px;
  overflow-y: hidden;
  border-radius: 4px;
  padding: 16px;
  color: var(--theme-text-color);
  background: var(--theme-light-color);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
}

.writingcard__title {
  font-size: 1.3em;
  color: var(--theme-bold-text-color);
  margin: 4px 0;
}

.writingcard__content {
  font-size: 1.1em;
  margin: 4px 0;
  color: transparent;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

/* ProjectCard Styles */
.projectcard {
  display: flex;
  align-items: flex-end;
  width: 90%;
  height: 150px;
  padding: 12px;
  cursor: pointer;
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
}

#barterout {
  background-image: url('../images/barterout.png');
}

#letsgo {
  background-image: url('../images/lets-go.png');
}

#squaretab {
  background-image: url('../images/square-tab.png');
}

#h4h {
  background-image: url('../images/h4h-research.png');
}

.projectcard__title {
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  color: var(--theme-light-color);
  font-size: 1.5em;
}