/* THEME */
:root {
  --theme-primary-color: #2D9CDB;
  --theme-secondary-color: #db2d64;
  --theme-bold-text-color: #333;
  --theme-text-color: #555;
  --theme-light-color: #FFF;
  --theme-gradient-color: linear-gradient(45deg, rgba(63,94,251,1) 7%, rgba(74,94,210,1) 32%, rgba(209,76,140,1) 80%, rgba(252,70,107,1) 100%);
}

::selection { background: yellow; }

/* GENERAL STYLES */
html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 8px 0;
  font-size: 1.7em;
  color: var(--theme-bold-text-color);
}

h1::after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  margin-top: 6px;
  background: var(--theme-gradient-color);;
}

h2 {
  margin: 0;
  font-size: 1.5em;
  color: var(--theme-bold-text-color);
}

p {
  font-size: 1.1em;
  color: var(--theme-bold-text-color);
  padding: 0;
  margin: 0;
  line-height: 1.58;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--theme-primary-color);
  transition: all .2s ease-in-out;
}

a:hover {
  color: var(--theme-secondary-color);
}

.header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: 100vw;
  height: 200px;
  font-size: 3em;
  color: var(--theme-light-color);
  background: rgb(63,94,251);
  background: var(--theme-gradient-color);
}

/* ROUTE STYLES */
/* Home Styles */
.home__content {
  display: grid;
  width: 100vw;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 24px;
}

.home__grid-item {
  padding: 24px 16px;
}

.home__projects {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 16px;
}

.home__resume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: var(--theme-primary-color);
  color: var(--theme-light-color);
  border-radius: 4px;
  border: none;
  font-size: 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  margin: 16px 0;
}

.home__resume:hover {
  color: var(--theme-light-color);
}

/* Writing Article Styles */
.writing {
  display: flex;
  flex-direction: column;
  width: 60vw;
  max-width: 750px;
  margin: 0 auto;
}

.writing__para {
  margin: 8px 0;
  text-indent: 2em;
}

.writing__title {
  text-indent: 0;
  text-align: center;
  font-size: 1.8em;
  margin: 24px 0;
  font-weight: bold; 
}

.writing__title::after {
  content: 'By Duncan Grubbs';
  display: block;
  color: var(--theme-text-color);
  font-size: .5em;
}

/* Portfolio Styles */
.portfolio__content {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  max-width: 864px;
  width: 100vw;
  background: none;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: white;
  cursor: pointer;
  margin: 16px;
  padding: 12px 18px;
  border-radius: 8px;
  /* border: solid 1px #bbb; */
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08); */
  transition: all .17s ease-in-out;
}

.portfolio__card:hover {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}

.portfolio__card--title {
  color: var(--theme-bold-text-color);
  font-size: 1.8em;
}

.portfolio__card--desc {
  color: var(--theme-text-color);
  font-size: 1.15em;
  margin: 8px 0;
}

.portfoliopage__content--barterout {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  width: 90vw;
  max-width: 700px;
}

.port-img {
  width: 100%;
  height: auto;
}

#barterout__heading {
  color: var(--theme-bold-text-color);
}
