@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-900;
}

::selection {
  background: yellow;
  color: rgb(10, 10, 10);
}

/* GENERAL STYLES */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: "Noto Serif", serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ol {
  @apply text-gray-50;
}

ol {
  @apply list-decimal pl-8;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

p {
  @apply text-base leading-7;
}

code {
  @apply bg-slate-700 p-1 rounded-lg text-sm;
}

.link {
  @apply underline hover:bg-indigo-600 hover:text-white transition;
}

.writing__para {
  @apply my-4;
}

.glass-container {
  @apply my-4 border border-gray-400 rounded-md p-4 hover:border-indigo-500 transition;
}

.navbar__link {
  @apply text-base text-gray-50;
}

.selected {
  @apply font-semibold text-base text-white;
}
