/* MOBILE STYLES */
@media all and (max-width: 600px) {
  .navbar {
    height: 72px;
  }
  .home__content {
    display: flex;
    flex-direction: column;
  }
  .writing {
    width: 90vw;
  }
  .navbar__content--left {
    display: none;
  }
  .navbar__content--right {
    width: 100%;
    justify-content: center;
  }
  .navbar__link.selected::after {
    margin-top: 44px;
  }
  .portfolio__content {
    display: flex;
    flex-direction: column;
  }
}