/* MOBILE STYLES */
@media all and (max-width: 600px) {
  .navbar {
    height: 72px;
  }
  .home__content {
    display: flex;
    flex-direction: column;
  }
  .writing {
    width: 90vw;
  }
  .navbar__link.selected::after {
    margin-top: 24px;
  }
  .portfolio__content {
    display: flex;
    flex-direction: column;
  }
}